/* ESTILOS GENERALES */

/* Aplico la font-size a todos los iconos como recomienda bootstrap */
.bi{
    font-size: 1em;
}

/* CONTAINER que contiene todo el menú */

#menu_container{

    padding: 2em
}

/* ESTILOS DEL DIV SUPERIOR DEL MENÚ */

#menu_info{
    padding: 1em;

    background-color: rgb(235, 235, 235);
    /* Le doy redondez sólo a las puntas superiores */
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    /* Le doy estilo flex y que se separen cada uno en su extremo horizontalmente
    y centrado verticalmente */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Aplico espacio entre los iconos para que se posicionen correctamente */
#menu_info_contact i{
    padding: 1em;

    font-weight: bold;
}

/* Aplico estilos a los enlaces de login */
#menu_info_login a{
    margin: 1em;
    /* Estilos de la fuente */
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* ESTILOS DEL DIV INFERIOR DEL MENÚ */

/* Este el es div que incluye a todo */
#menu{
    background-color: rgb(0, 132, 255);
    
    color: white;

    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    
}

/* Cambio el color de la fuente a blanco */
#menu_links .bi{

    color: white;
}

/* CONTAINER que contiene el logo */
#menu_logotype{

    height: 8vh;
    max-width: 11vw;
    text-align: center;
    background-color: rgb(21, 172, 231);
    border-bottom-left-radius: 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagen del logo */
#menu_logotype img{
    width: 10em;
}

/* CONTAINER de la hamburguesa */
#menu_icon{

    max-width: 6em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Enlace de la hamburguesa */
#menu_icon a{

    font-size: 2.5em;
    color: white;
    width: 250px;
    padding: 0.1em 0.5em;
}

/* Lista desordenada del menú */
#menu_links ul{

    margin: 0;
    
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: start;
}

/* Enlaces de los elementos del menú */
#menu_links ul li a{

    height: 8vh;

    padding: 1.5em;

    text-decoration: none;
    color: white;
}

/* Efecto hover de los enlaces de los elementos del menú */
#menu_links ul li a:hover{

    background-color: white;
    color: black
}

/* Efecto de los iconos al hover de los enlaces */
#menu_links a:hover .bi{

    background-color: white;
    color: black;
}

/* Estilos del primer enlace del menú */
#menu_links ul li:nth-of-type(1) a{

    background-color: white;
}

/* Estilos del icono del primer enlace del menú */
#menu_links ul li:nth-of-type(1) a i{

    color: black;
}

/* CONTAINER de la caja de búsqueda del menú */
#search_box{

    margin: 0 auto;
    max-width: 15em;
    text-align: center;
    background-color: white;
    padding: 0.2em 1em;
    border-radius: 0.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos de la lupa de la caja de búsqueda */
#search_box .bi-search{

    text-align: center;
    color: gray;
}

/* Estilos de la caja de búsqueda */
#search_box input{

    border: none;
    border-radius: 0.5em;
}

/* Estilos de la caja de búsqueda cuando está con el cursor */
#search_box input:focus{

    outline: none;
}

/* Estilo del texto de la caja de búsqueda */
#search_box input::placeholder{

    font-size: 0.8em;
    padding: 1em;
}

/* CONTAINER de las redes sociales */
#social_media{
    
    max-width: 15em;
    
    text-align: right;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos de los iconos de las redes sociales y del login */
#social_media .bi, #account .bi{

    margin: 0.5em;
    
    color: white;
    font-size: 1.5em;
}

/* CONTAINER del login */
#account{

    max-width: 5em;
    height: 8vh;

    background-color: rgb(21, 172, 231);
    border-bottom-right-radius: 0.5em;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del enlace del login */
#account a{

    padding: 1em;
    display: block;
}

/* MEDIA QUERIES */

@media (max-width: 800px){

    #menu_info #menu_info_contact i,
    #menu_info #menu_info_login a{

        font-size: 0.8em;
    }
}

@media (max-width: 672px){

    #menu_info #menu_info_contact i,
    #menu_info #menu_info_login a{

        font-size: 0.7em;
    }
}
