
/* Seteamos todos los iconos de forma general
porque todos tienen el mismo tamaño y color */
.material-symbols-outlined{
    color: rgb(0, 132, 255);
    font-size: 2.5em;
}

/* Le damos el estilo al fondo y los bordes */
.form_section{
    background-color: rgba(128, 128, 128, 0.116);

    border: 1px solid rgba(184, 183, 183, 0.5);
    border-radius: 0.5em;
}

/* Le damos el color al texto y el borde inferior que se ve */
.contact_section_title{
    color: rgb(0, 132, 255);
    
    border-bottom: 1px solid rgba(184, 183, 183, 0.5);
}

/* Le aplicamos el margen correcto al 6º div que no está separado bien */
.contact_input_container:nth-child(6) {
    
    margin-top: 0.5em;
}

/* Aplicamos flex al container col de los símbolos para que siempre
estén dentrados */
.contact_input_container .simbolos{

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Aplicamos bordes a los 4 primeros inputs y forzamos que ocupen 
el ancho máximo posible */
.contact_input input{
    width: 100%;

    border: 1px solid rgba(184, 183, 183, 0.705);
    border-radius: 0.3em;
}

/* Aplicamos estilos a los placeholders */
.contact_input input::placeholder{
    padding-left: 0.5em;
}
