body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.container_form{
    max-width: 580px;
    margin-top: 10em;
}


.form{
    border-radius: 0.5em;
    background-color: white;
    color: gray;
}

.form_text{
    text-align: left;
    padding: 2em;
}

.form_img .material-symbols-outlined{
    font-size: 3em;
}

.form_inputs_container{
    background-color: rgba(128, 128, 128, 0.205);
}

.form_inputs{
    margin: 1em;
}

.button_login{
    background-color: rgb(75, 223, 191);
    color: black;

    border: none;

    font-weight: bolder;
}

.button_social_media_container{
    padding: 0.1em;
}

.button_social_media{
    border: 1px solid rgb(129, 129, 129);
    color: rgb(129, 129, 129);;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button_social_media h5{
    font-size: 1em;
    margin: 0.2em;
}

.button_social_media img{
    height: 2em;
    width: 2em;
}
